//output:album.html

doctype
html
  head
    title Bloc Jams
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300")
    link(rel="stylesheet", type="text/css", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="styles/normalize.css")
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    link(rel="stylesheet", type="text/css", href="styles/album.css")

  body.album
    // navigation bar-----------------------------------------------------------
    nav.navbar 
      a.logo(href="index.html")
        img(src="assets/images/bloc_jams_logo.png" alt="bloc jams logo")
      .links-container
        a.navbar-link(href="collection.html") collection
        a.navbar-link(href="album.html") album

    main.album-view.container.narrow
      section.clearfix
        .column.half
          img.album-cover-art(src="assets/images/album_covers/01.png")
        .album-view-details.column.half
          h2.album-view-title The Colors
          h3.album-view-artist Pablo Picasso
          h5.album-view-release-info 1909 Spanish Records

    table.album-view-song-list
      tr.album-view-song-item
        td.song-item-number 1
        td.song-item-title Blue
        td.song-item-duration X:XX
      tr.album-view-song-item
        td.song-item-number 2
        td.song-item-title Red
        td.song-item-duration X:XX
      tr.album-view-song-item
        td.song-item-number 3
        td.song-item-title Green
        td.song-item-duration X:XX
      tr.album-view-song-item
        td.song-item-number 4
        td.song-item-title Purple
        td.song-item-duration X:XX
      tr.album-view-song-item
        td.song-item-number 5
        td.song-item-title Black
        td.song-item-duration X:XX
