//output:collection.html

doctype
html
  head
    title Bloc Jams
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300")
    link(rel="stylesheet", type="text/css", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", type="text/css", href="styles/normalize.css")
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    link(rel="stylesheet", type="text/css", href="styles/collection.css")

  body.collection
    // navigation bar-----------------------------------------------------------
    nav.navbar 
      a.logo(href="index.html")
        img(src="assets/images/bloc_jams_logo.png" alt="bloc jams logo")
      .links-container
        a.navbar-link(href="collection.html") collection
        a.navbar-link(href="album.html") album

    section.album-covers.container.clearfix
      .collection-album-container.column.fourth
        img(src="assets/images/album_covers/01.png")
        .collection-album-info.caption
          p
            a.album-name(href="album.html") The Colors
            br
            a(href="album.html") Pablo Picasso
            br
            | X songs
            br
      .collection-album-container.column.fourth
        img(src="assets/images/album_covers/01.png")
        .collection-album-info.caption
          p
            a.album-name(href="album.html") The Colors
            br
            a(href="album.html") Pablo Picasso
            br
            | X songs
            br
      .collection-album-container.column.fourth
        img(src="assets/images/album_covers/01.png")
        .collection-album-info.caption
          p
            a.album-name(href="album.html") The Colors
            br
            a(href="album.html") Pablo Picasso
            br
            | X songs
            br
      .collection-album-container.column.fourth
        img(src="assets/images/album_covers/01.png")
        .collection-album-info.caption
          p
            a.album-name(href="album.html") The Colors
            br
            a(href="album.html") Pablo Picasso
            br
            | X songs
            br
